@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-04963599723c63b7.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-04a581db85db1264.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-04eb870148b2b987.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-08aee6fa067d1881.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-094f02ea710eaf0b.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-0e96115a5c3f7b8b.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-0e9ac47259aae665.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-0ed257e26d6b170c.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-1251d86fec362931.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-146c470482cce1ef.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-15890a5deb2278a8.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-15b14f82567e3c5c.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-163d72c54bd804be.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-176bc6e9e919b4b6.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-1b747b3bc4540cd1.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-1f3fed5396ffd9cd.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-202e57327c5c6e38.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-29d4726279623d52.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-29df9a63ed47b645.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-2a9f30746184180a.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-2c0ac1e9684cb36a.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-2cb82758101874b9.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-2e0ba15a95c91b87.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-3058a51abdff5695.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-3085df28fa0b4f8a.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-308a85620b978a82.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-33a554dbb0834280.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-34efc9fbb0bf8a02.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-35bb19de9e1e836a.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-36234d8f24e04c15.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-364ec31c61cc97dc.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-3758fda30243ca64.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-3b864a0226072e05.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-3bbf2e90997b950d.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-3d7b152aaed7c5b9.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-3f975c76013d0b33.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-45a5a482140e90a4.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-466e2ffe85779458.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-46823fded32242a4.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-4848162d377a0249.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-496e5dd1e6c42468.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-4cac190b9ee440ca.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-4f12a1c3b7eb5297.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-50e07d379dc28ee7.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-54370ae7f9c574ae.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-5bd3472f6b08a4da.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-5dd869823b9b53d7.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-629e5c1361633513.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-64e46c2d417d97a1.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-66695064ab1ae2a0.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-68aaef7078727114.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-6aa019497f6c0841.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-76d5e0435683e414.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-7e442dbc6dd0efa5.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-82de91ae9da3de5d.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-82e51f7ef43af696.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-84207ed71789891b.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-8633791726b9968b.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-8859b1910b350362.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-89ae163266f5c4fc.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-92a16841f52c5996.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-94b8f027b0c62ff8.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-986ca32b3825ba6a.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-9a1348411ba934f0.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-a28c3b3ffc1a1862.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-a5f72e5b0a3c1e84.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-ab4f1be3bfc63049.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-ac01c0951378b560.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-ad01e5b568b929c0.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-ad285bdb1a97f1c9.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-b2cc7e81ac14c8be.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-b36eac13603c59c7.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-b7fdbc43a4e2a8b7.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-b8c9cc848ec84c47.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-ba2ee88392ccc80d.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-ba89a671923c602b.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-bb5c45c75fe85bc9.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-bf556ff22549c4a4.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-c650b92949a4d842.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-c78aa23d4235dc7d.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-c817483318708198.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-ca4c83390e6c8c9b.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-cc7326521cd1e63c.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-ce1bdd1bbc2006c2.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-cf162e65967790a3.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-d05b50d4a1a882b3.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-d103bc5e81299af4.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-d561b531a9f7f5a9.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-d6540c50ef6fcd22.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-d717b4d6514de37f.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-d9038ee66af1d433.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-d9eccb2fe89daac7.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-de6ca9f98e9da852.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-de7d1473e4568c26.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-e86c052cff1089a2.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-e9754b6845ca9199.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-ea5bd9f5c523d6b8.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-ed741ab1dc869b9f.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-f4cc6b7c5c562613.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-f5fb54d2cd849023.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-fa4aec1693fab075.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-fd8a322863c6583e.woff2') format('woff2');
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka/Blueaka-fe5b82133d5f0903.woff2') format('woff2');
}